/* Mobile hasta 767px */
.search-bar {
  box-shadow: 0px 2px 10px #e3e3e3;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  padding: 16px;
  background: #fff;
  border-radius: 5px;
}

button {
border: none;
}

.search-bar form button {
  width: 80%;
  border-radius: 5px;
}

.search-bar-input {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Tablet (768px - 1024px) */
@media (min-width: 768px) {
  .search-bar form button {
    width: 100px;
  }
}

/* Desktop (1025px en adelante) */
@media (min-width: 1025px) {

}