.user-avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar-circle {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.user-name {
  font-weight: 500;
}
