/* Mobile hasta 767px */
.sidebar {
  display: none;
}

/* Tablet (768px - 1024px) */
@media (min-width: 768px) {

}

/* Desktop (1025px en adelante) */
@media (min-width: 1025px) {
  .sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: var(--color-primary);
    width: 100%;
    margin-top: 0;
    padding-top: 120px;
  }
  
  .sidebar nav a {
    padding: 5px 15px;
    text-align: center;
    width: 180px;
  }
  
  .sidebar nav img {
    width: 40px;
  }
  
  .sidebar nav .button {
    background-color: var(--color-white);
  }

  .sidebar nav .button:hover {
    color: inherit;
  }
}